
body {
    margin: 0;
    padding: 0;
    background: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

canvas {
    border: 1px solid #333;
    background: #000;
}
